.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease-out;
}

.slide-up-enter {
    transform: translateY(10px);
    opacity: 0;
}

.slide-up-enter-active {
    transition: all 0.4s ease;
}



